.players-container {
  width: 80%;
  height: 30em;
}

.score-1 {
  width: 50%;
}

.score-2 {
  width: 50%;
}

.current-score-1 {
  background-color: red;
  width: 35%;
}

.current-score-2 {
  background-color: red;
  width: 35%;
}

.gamer-on {
  background-color: rgb(242, 242, 200);
}

.gamer-off {
  background-color: rgb(250, 250, 248);
}

.score-font-size {
  font-size: 90px;
  font-family: 'Work Sans', sans-serif;
  color: rgb(248, 175, 175);
}

.svg-color {
  color: rgb(248, 175, 175); 
}

 .players {
  font-size: 2em;
} 

.new-game {
  width: 150px;
  font-size: 20px;
  padding: 5px;
  position: fixed;
  top: 10%;
}

.roll-dice {
  height: inherit;
  width: 140px;
  font-size: 20px;
  padding: 5px;
  position:fixed;
  bottom: 40%;
}

.hold {
  height: inherit;
  width: 100px;
  font-size: 20px;
  padding: 5px;
  position: fixed;
  bottom: 30%;
}

.new-game:hover {
  background-color: rgb(218, 200, 83);
  color: white;
  border-radius: 10%;
}

.roll-dice:hover {
  background-color: rgb(218, 200, 83);
  color: white;
  border-radius: 10%;
} 

.hold:hover {
  background-color: rgb(218, 200, 83);
  color: white;
  border-radius: 10%;
}

.box-dice {
  height: 80px;
  width: 80px;
  position: fixed;
  top: 30%;
  box-shadow: 4px 7px rgb(242, 242, 200);
  background-color: rgb(242, 242, 200);
  border-radius: 10%;
}

.dice {
  position: relative;
  height: inherit;
  width: inherit;
  top: 4px;
  left: 3px;
}

.current {
  font-size: 12px;
}

.red-dot-on {
  color: rgb(211, 28, 28);
  opacity: 1;
}

.red-dot-off {
  opacity: 0;
}